 /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #BBD1EA; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  overflow-y: auto;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #B8BFC7;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #111;
  background-color: #fff;
  border-radius: 4px;
  transition: .5s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #111;
  cursor: pointer;
  /*background-color: #fff;*/
}

.active-nav{
	background-color: #fff;
	color: #111;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #dae3e5;
	color: #04080F;
	text-align: center;
	padding: 10px;
  margin-top: 20px;
  font-style: italic;
}

.menu-btn{
  position: fixed;
  cursor: pointer;
  z-index: 1;
  font-weight: bold;
  background-color: white;
  /*border: 1px solid green;*/
  width: 60px;
  display: flex;
  justify-content: center;
}

.menu-btn:hover{
  text-decoration: underline;
  transition: .3s;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}